.card {
  /* border: 1px solid ; */
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  width: 170px;
  height: 180px;
  display: flex;
  flex-direction: column;
  /* margin: 10px; */
}

.card_title {
  width: 100%;
  height: 60%;
  /* border: 2px solid red; */
  letter-spacing: 0.6px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card_number {
  width: 100%;
  height: 10%;
  /* border: 2px solid cyan; */
  display: flex;
  justify-content: center;
  font-size: 60px;
  align-items: center;
  color: #f88a12;
}

.Cedit {
  height: 80%;
  /* color: black; */
  /* color: darkblue; */
}
#cd_blue {
  color: darkblue;
}
#cd_green {
  color: green;
}
#cd_size {
  font-size: 30px;
}
.card_btn {
  width: 100%;
  height: 40%;

  /* border: 2px solid lime; */
  background: transparent linear-gradient(180deg, #f88a12 0%, #cd2d05 100%) 0%
    0% no-repeat padding-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 0px 0px 10px 10px;
  text-decoration: none;
}
