.section_2 {
    /* border: 2px solid red; */
    margin: auto;
    width: 83%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-radius: 10px 10px 0px 0px; */
    height: 35px;
  }
  .route_1 {
    border: 1px solid #707070;
    border-radius: 10px 0px 0px 0px;
    /* border-bottom: 5px solid red; */
    width: 32%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .route_2 {
    border: 1px solid #707070;
    /* border-bottom: 5px solid red; */
    width: 36%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .route_3 {
    border: 1px solid #707070;
    border-radius: 0px 10px 0px 0px;
    width: 32%;
    /* border-bottom: 5px solid red; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .route_active {
    border: 1px solid #f88a12;
    border-bottom: 5px solid #f88a12;
    
    color: #f88a12;
  }